---

- name: Update pacman cache and install system updates
  pacman: update_cache=yes upgrade=yes
  tags:
    - pacman

- name: Install packages
  pacman:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items: "{{ installed_packages }}"
  tags:
    - packages
    - pacman

- name: Remove obsolete packages
  pacman:
    name: "{{ item }}"
    state: absent
    recurse: yes
  with_items: "{{ removed_packages }}"
  tags:
    - packages
    - pacman

- name: Reload systemd
  systemd:
    daemon_reload: yes
  tags:
    - services

- name: Manage systemd services
  systemd:
    no_block: yes
    enabled: "{{ item.enabled }}"
    state: "{{ item.state }}"
    name: "{{ item.name }}"
  with_items: "{{ systemd_services }}"
  tags:
    - services

# Hacky
- name: Install heartbeat cronjob
  cron:
    minute: "*/5"
    name: "heartbeat"
    job: "curl https://rded.nl/{{ ansible_hostname }} > /dev/null"
    state: absent
  tags:
    - cron
