---
- name: Update locales
  locale_gen:
    name: "{{ item }}"
    state: present
  with_items:
    - en_US.UTF-8
    - en_GB.UTF-8
    - nl_NL.UTF-8

- name: Configure locale
  copy:
    content: "LANG=en_GB.UTF-8"
    dest: /etc/locale.conf
    mode: 0644
